---
import LanguageSwitcher from './LanguageSwitcher.astro';

interface Props {
    experience: string;
    projects: string;
    aboutMe: string;
    otherLanguage: string;
    otherLanguageUrl: string;
    countryCode: string;
}

const { experience, projects, aboutMe, otherLanguage, otherLanguageUrl, countryCode } = Astro.props;
---
<header class="flex justify-center items-center flex-col">

    <div class="hidden md:flex absolute top-2 right-4">
        <LanguageSwitcher otherLanguage={otherLanguage} otherLanguageUrl={otherLanguageUrl} countryCode={countryCode} />
    </div>
  
    <nav class="bg-neutral-700 p-2 rounded-xl">
        <ul class="flex gap-1 text-sm font-semibold lowercase text-white">
            <li class="p-1"><a href="#about" class="hover:bg-purple-600 rounded-xl p-2 transition-colors duration-125 ease-in-out">{aboutMe}</a></li>
            <li class="p-1"><a href="#experience" class="hover:bg-purple-600 rounded-xl p-2 transition-colors duration-125 ease-in-out">{experience}</a></li>
            <li class="p-1"><a href="#projects" class="hover:bg-purple-600 rounded-xl p-2 transition-colors duration-125 ease-in-out">{projects}</a></li>
        </ul>
    </nav>
    <div class="md:hidden">
        <LanguageSwitcher otherLanguage={otherLanguage} otherLanguageUrl={otherLanguageUrl} countryCode={countryCode} />
    </div>
    
</header>