---
import { Image } from "astro:assets";

interface Project {
  name: string;
  description: string;
  technologies: string[];
  liveUrl: string;
  repoUrl: string;
  image: string;
}

const { name, description, technologies, liveUrl, repoUrl, image } =
  Astro.props;
---

<li
  class="text-gray-300 border-2 p-4 border-neutral-700 rounded-xl flex flex-col justify-between"
>
  <div class="flex-grow">
    {
      liveUrl || repoUrl ? (
        <>
          <a target="_blank" href={liveUrl ? liveUrl : repoUrl}>
            <Image
              height={226}
              width={402}
              src={image}
              alt={name}
              class="w-full h-auto rounded-xl mb-3"
            />
          </a>
        </>
      ) : (
        <>
          <Image
            height={226}
            width={402}
            src={image}
            alt={name}
            class="w-full h-auto rounded-xl mb-3"
          />
        </>
      )
    }
    <div class="flex gap-2">
      <h3 class="text-xl font-bold text-neutral-300">{name}</h3>
      {
        liveUrl && (
          <a
            aria-label={`Visita ${name}`}
            href={liveUrl}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img loading="lazy" src="/external.svg" class="w-6 h-6" alt="" />
          </a>
        )
      }
      {
        repoUrl && (
          <a
            aria-label={`Visitar repositorio de Github de ${name}`}
            href={repoUrl}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              loading="lazy"
              src="/github.svg"
              class="w-6 h-6 p-0.5"
              alt=""
            />
          </a>
        )
      }
    </div>
    <p class="mt-0.5">{description}</p>
  </div>
  <ul class="flex flex-wrap gap-3 mt-3">
    {
      technologies.map((tech: string) => (
        <li class="px-3 select-none py-1 bg-neutral-800 hover:bg-neutral-700 transition-colors duration-50 ease-in-out rounded-xl font-mono">
          {tech}
        </li>
      ))
    }
  </ul>
</li>